In [1]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup
import xlrd

In [7]:
# rain in 2017 2018 in t
year_list=["2016","2017","2018"]
data=[]
for year in year_list:
    url="https://www.cwb.gov.tw/V7/climate/dailyPrecipitation/Data/466920_"+year+".htm"
    res=requests.get(url)
    soup=BeautifulSoup(res.text, "html5lib")
    day=31
    for i in range(1,day+1):
        temp=soup.select("table")[1].select("tr")[i].text.replace(" ","").split("\n")
        temp=temp[1:-1]
        for j in range(1,13):
            data_dic={}
            if temp[j]=="":
                continue
            elif temp[j]=="-":
                data_dic["rain"]="0"
            elif temp[j]=="T":
                 data_dic["rain"]="0.1"
            elif temp[j]=="X":
                 data_dic["rain"]="nan"
            else:
                data_dic["rain"]=temp[j]

            if  (j<10):    
                if (i<10):
                    data_dic["date"]=year+ "0"+ str(j)+"0"+temp[0]
                else:
                    data_dic["date"]=year+ "0"+ str(j)+""+temp[0]
            else:
                if (i<10):
                    data_dic["date"]=year+ ""+ str(j)+"0"+temp[0]
                else:
                    data_dic["date"]=year+ ""+ str(j)+""+temp[0]

            data.append(data_dic)

In [8]:
rain_data = pd.DataFrame(data)
rain_data.head()

       date  rain
0  20160101     0
1  20160201  14.0
2  20160301     0
3  20160401     0
4  20160501   3.0

In [9]:
rain_data["New_datetime"]=pd.to_datetime(rain_data["date"],format='%Y%m%d', errors='ignore')
rain_data.sort_values("New_datetime").head()

        date  rain New_datetime
0   20160101     0   2016-01-01
12  20160102   0.1   2016-01-02
24  20160103  15.0   2016-01-03
36  20160104   0.7   2016-01-04
48  20160105   0.7   2016-01-05

In [ ]:
# 掏寶

In [6]:
data_91app=pd.read_csv("Ntu_Orders.csv")
data_91app["New_datetime"]=pd.to_datetime(data_91app["DateId"],format='%Y%m%d', errors='ignore')

MemoryError: