想探討91App的會員大部分聚集在哪個地方

In [1]:
import folium
import pandas as pd
import requests
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import re

In [2]:
df = pd.read_csv('NTU_1317_Member.txt',sep = '\t',encoding = 'utf-8',low_memory=False)
df.head()

,ShopId,MemberId,Recency,Frequency,Monetary,Birthday,GenderTypeDef,LocationCity,LocationState,LocationCountry,...,AnnualIncomeTypeDef,RegisterDateTime,RegisterSourceTypeDef,ValidFlag,MinOrderDate,MaxOrderDate,IsAppInstalled,IsInBlackList,MinAppOpenDateTime,MaxAppOpenDateTime
0,1317,88812F54-9F19-49C0-BC77-86065C356D26,251,3,4011.0,1980-08-08,Female,NaN,台中市,台灣,...,NaN,2015-09-18 19:18:48.050,iOSApp,1,2015-09-18,2017-05-02,有,NaN,2015-09-18 18:45:35.707,2017-07-30 21:30:34.940
1,1317,AB3232A1-03C6-4425-8062-EEECB633FB5A,-1,0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-03-13 01:11:05.403,Web,1,1900-01-01,NaN,NaN,NaN,NaN,NaN
2,1317,CC63B70D-CD6D-4538-BDDE-4B293F95A654,659,1,529.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-03-20 02:20:35.493,Web,1,2016-03-20,2016-03-20,NaN,NaN,NaN,NaN
3,1317,17ED6C4D-0B91-4EB4-9992-117E9440425D,56,3,2438.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2017-06-02 22:16:47.363,Web,1,2017-06-02,2017-10-27,NaN,NaN,NaN,NaN
4,1317,1BA9F6E3-67FD-4AAF-8011-2CBEA98B4828,717,1,550.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2016-01-22 14:46:30.040,Web,1,2016-01-22,2016-01-22,有,NaN,2016-01-22 14:50:32.173,2017-02-21 05:51:05.080

統計每個人住的地方，如果以重複就加一，結果如下，可以看出，資料沒有很統一，例如：會出現Taipei,taipei,台北，但他們都是一樣的地方

In [3]:
location=df['LocationState']
location_dic={}
for place in location:
    if place!="NAN" and place!="nan":
        try:
            place=place.replace(" ", "")
        except:
            pass
        if place not in location_dic:
            location_dic[place]=1
        else:
            location_dic[place]+=1
location_dic

{'': 1,
 ',台北': 1,
 '---': 1,
 '..': 1,
 '...': 1,
 '1234': 1,
 'Chaiyn': 1,
 'Changhua': 3,
 'HSINCHU': 1,
 'HongKong': 4,
 'HsinChu': 1,
 'Hsinchu': 9,
 'Hualien': 3,
 'Huallen': 1,
 'Ilan': 3,
 'KH': 1,
 'KS': 1,
 'Kaoh': 1,
 'Kaohsiung': 39,
 'Kaoshiung': 1,
 'Kaoshon': 1,
 'Keelung': 10,
 'Macau': 1,
 'Melbourne': 1,
 'Miaoli': 1,
 'Mioli': 1,
 'NTc': 1,
 'Nantou': 4,
 'Natou': 1,
 'NewTaipei': 9,
 'PENHU': 1,
 'Pingtong': 1,
 'Pingtung': 1,
 'Singapore': 1,
 'T': 1,
 'TAICHUNG': 1,
 'TAIPEI': 2,
 'TAOYUAN': 2,
 'TEIPEI': 1,
 'TOE': 1,
 'TP': 1,
 'TPE': 5,
 'Ta': 1,
 'Tachung': 1,
 'Taichang': 1,
 'Taichung': 110,
 'Tainai': 1,
 'Tainan': 50,
 'Taioei': 1,
 'Taipai': 3,
 'Taipe': 1,
 'Taipei': 413,
 'Taiwan': 7,
 'Tanain': 1,
 'Taoyuan': 15,
 'Tayouan': 1,
 'Tw': 1,
 'Yilan': 3,
 'Yulin': 1,
 'b': 2,
 'c': 1,
 'changhua': 1,
 'changhwa': 1,
 'chaotic': 1,
 'chayi': 2,
 'chichu': 1,
 'chunhua': 1,
 'hsinchi': 1,
 'hsinchu': 5,
 'hualien': 1,
 'i-lan': 1,
 'k': 2,
 'kH': 1,
 'kaohsiung': 5,
 'kaoshuing': 1,
 'keeling': 1,
 'keelung': 6,
 'kh': 1,
 'ks': 1,
 nan: 607956,
 'newTaipei': 1,
 'newtaipei': 2,
 'p': 1,
 'pinging': 1,
 'pingtun': 1,
 'pingtung': 2,
 'punting': 1,
 's': 1,
 't': 1,
 'taicghung': 1,
 'taichung': 12,
 'taiei': 1,
 'tainai': 1,
 'tainan': 10,
 'taipe': 2,
 'taipei': 59,
 'taitung': 2,
 'taoyuan': 14,
 'tapei': 2,
 'tc': 1,
 'tenchung': 1,
 'to': 2,
 'tp': 1,
 'tpe': 2,
 'tu': 1,
 'tw': 1,
 'w': 1,
 'y': 1,
 'yilan': 2,
 'yulin': 1,
 'yunlin': 1,
 'ᵀᴬᴵᴾᴱᴵ': 1,
 '…': 1,
 '。': 1,
 '一': 1,
 '七堵': 1,
 '三重': 3,
 '三重市': 1,
 '中': 1,
 '中和': 4,
 '中壢': 16,
 '中壢市': 3,
 '中寮': 1,
 '中正北路97號1樓': 1,
 '中沥': 1,
 '中華民國': 1,
 '中部': 1,
 '亞洲': 1,
 '仁川': 1,
 '仁德': 1,
 '但': 1,
 '元長鄉': 1,
 '內埔': 1,
 '八德': 1,
 '八德市': 1,
 '北市': 2,
 '北投': 1,
 '北部': 3,
 '區': 2,
 '南京': 1,
 '南投': 127,
 '南投市': 14,
 '南投線': 2,
 '南投縣': 2981,
 '南投縣南投市': 1,
 '南頭': 1,
 '古坑鄉': 1,
 '台': 5,
 '台中': 949,
 '台中巿': 1,
 '台中市': 28579,
 '台中市豐原區': 1,
 '台中縣': 4,
 '台北': 1316,
 '台北、桃園': 1,
 '台北人': 1,
 '台北市': 21374,
 '台北市\u200e': 1,
 '台北縣': 1,
 '台南': 585,
 '台南巿': 1,
 '台南市': 14378,
 '台東': 87,
 '台東市': 11,
 '台東縣': 968,
 '台湾': 1,
 '台灣': 149,
 '台灣人': 1,
 '台灣台北': 1,
 '台灣啊': 1,
 '台灣省': 7,
 '台灣省台北市': 1,
 '合界村': 1,
 '吧': 1,
 '員林': 1,
 '員林市': 3,
 '嗯': 1,
 '嘉義': 167,
 '嘉義市': 1882,
 '嘉義是': 1,
 '嘉義縣': 2687,
 '土城': 7,
 '土城區，板橋區': 1,
 '埔心': 1,
 '埤頭': 1,
 '基': 1,
 '基隆': 165,
 '基隆市': 3306,
 '堺市': 1,
 '墾丁': 1,
 '士林': 1,
 '大園': 1,
 '大安': 2,
 '大村鄉': 1,
 '大雅': 1,
 '太平區': 1,
 '好': 1,
 '安南區': 1,
 '宜兰': 1,
 '宜蘭': 219,
 '宜蘭地區': 1,
 '宜蘭市': 9,
 '宜蘭線': 1,
 '宜蘭縣': 3256,
 '宜蘭縣市': 1,
 '小港': 2,
 '屏東': 235,
 '屏東市': 41,
 '屏東市縣': 1,
 '屏東線': 2,
 '屏東縣': 4791,
 '崙背鄉': 1,
 '市': 6,
 '平鎮': 1,
 '平鎮區': 1,
 '平鎮市': 2,
 '彰化': 384,
 '彰化县': 1,
 '彰化市': 48,
 '彰化線': 4,
 '彰化縣': 8129,
 '恆春': 1,
 '愛臺灣的城市': 1,
 '斗六': 2,
 '新北': 203,
 '新北使': 1,
 '新北區': 1,
 '新北巿': 2,
 '新北市': 42773,
 '新北市中': 1,
 '新北市圖': 1,
 '新北市土城': 1,
 '新北縣': 1,
 '新城村': 1,
 '新市區': 1,
 '新店': 1,
 '新比市': 1,
 '新竹': 369,
 '新竹市': 4508,
 '新竹市縣': 1,
 '新竹線': 1,
 '新竹縣': 4683,
 '新竹縣市': 1,
 '新莊': 3,
 '新莊區': 1,
 '新被': 1,
 '木柵': 1,
 '東京': 1,
 '東勢區': 1,
 '東港': 1,
 '板橋': 8,
 '板橋區': 1,
 '林口': 2,
 '林口區': 1,
 '桃': 1,
 '桃园': 1,
 '桃园县中壢平镇市': 1,
 '桃园市': 1,
 '桃園': 1017,
 '桃園ㄟ': 1,
 '桃園區': 9,
 '桃園市': 20727,
 '桃園縣': 488,
 '楊梅': 3,
 '楊梅市': 1,
 '樹林': 1,
 '水里': 1,
 '永和': 1,
 '永和區': 1,
 '汐止': 1,
 '沒有城市': 1,
 '沙美': 1,
 '淡水': 5,
 '潮州': 1,
 '澎湖': 23,
 '澎湖縣': 278,
 '無': 3,
 '燕巢區': 1,
 '猴子': 1,
 '省': 1,
 '石牌': 1,
 '福建': 1,
 '竹北': 4,
 '竹北市': 3,
 '竹南': 1,
 '縣': 3,
 '羅東': 1,
 '美濃': 1,
 '臺': 1,
 '臺中': 351,
 '臺中只市': 1,
 '臺中市': 367,
 '臺中縣': 1,
 '臺北': 264,
 '臺北市': 201,
 '臺北縣': 2,
 '臺南': 192,
 '臺南市': 181,
 '臺新北市': 1,
 '臺東': 3,
 '臺東縣': 6,
 '臺灣': 61,
 '臺灣省': 4,
 '花蓮': 166,
 '花蓮/台南': 1,
 '花蓮市': 22,
 '花蓮縣': 2163,
 '花蓮羅東': 1,
 '苗栗': 208,
 '苗栗市': 17,
 '苗栗線': 1,
 '苗栗縣': 4015,
 '莿桐': 1,
 '萬華區': 1,
 '蘆州': 1,
 '蘆洲區': 1,
 '豐原': 1,
 '連江縣': 14,
 '都市': 2,
 '鄉村': 1,
 '金城鎮': 2,
 '金門': 23,
 '金門縣': 118,
 '隨便': 1,
 '雲': 1,
 '雲林': 132,
 '雲林線': 1,
 '雲林縣': 3548,
 '頭份': 1,
 '首爾': 1,
 '香港': 1,
 '馬六甲': 2,
 '馬祖': 2,
 '體育': 1,
 '高': 2,
 '高市': 1,
 '高興': 1,
 '高雄': 1032,
 '高雄巿': 1,
 '高雄市': 21658,
 '高雄市長': 1,
 '高雄服務': 1,
 '高雄火車市': 1,
 '高雄縣': 1,
 '高雄說': 1,
 '鳳山': 1,
 '鶯歌': 1,
 '鹿港': 2,
 '鹿港鎮': 1,
 '麻豆': 2,
 '龍岡': 1,
 '，新北市': 1}

運用網路上找經緯度的系統，因為要產生的方式是以JS產生，而且不同的地址會有不同的token，所以我運用selenium去尋找各個地址的經緯度，儲存在陣列中

In [9]:
# 用slelnium抓所在地的經緯度，資料過於雜亂==

driver = webdriver.Chrome()
LatLng=[]
persons=[]
for loc in location_dic:
    driver.get("http://itman123.com/show-google-map-latlng.html")
    place_text=loc
    try:
        driver.find_element_by_id("address").send_keys(place_text)
        driver.find_element_by_xpath("//table/tbody/tr[1]/td/p/input[2]").click()
        time.sleep(5)
        try:
            alert = driver.switch_to_alert()
            alert.accept()
            continue
        except:
            soup= BeautifulSoup(driver.page_source, "lxml")
            soup.select("a")
            txt=soup.select("a")[1].get("href")
            try:
                pattern="[0-9]+\.[0-9]+\,[0-9]+\.[0-9]+"
                match=re.search(pattern,txt)
            except:
                pass
            if match[0] not in LatLng:
                LatLng.append(match[0])
                persons.append(int(location_dic[loc]))
            else:
                index=LatLng.index(match[0])
                persons[index]+=int(location_dic[loc])
    except:
        pass
driver.close()

UnexpectedAlertPresentException: Alert Text: None
Message: unexpected alert open: {Alert text : Geocode was not successful for the following reason: ZERO_RESULTS}
  (Session info: chrome=65.0.3325.181)
  (Driver info: chromedriver=2.37.544315 (730aa6a5fdba159ac9f4c1e8cbc59bf1b5ce12b7),platform=Windows NT 10.0.16299 x86_64)

建置一個pandas Dataframe包含經緯度和人數

In [14]:
dic={"place":LatLng,"persons":persons}
loc_df=pd.DataFrame(dic)
loc_df

    persons                 place
0     30372  24.147736,120.673648
1      4883   24.813829,120.96748
2     23632  25.032969,121.565418
3     22730  22.627278,120.301435
4      4683  24.838723,121.017725
5      8513  24.051796,120.516135
6     22261   24.993628,121.30098
7      4223  24.560159,120.821427
8      3478   24.702107,121.73775
9     42976  25.016983,121.462787
10    15386  22.999728,120.227028
11     3108  23.960998,120.971864
12     5028   22.551976,120.54876
13     1883  23.480075,120.449111
14     3471  25.127603,121.739183
15      278   23.57119,119.579316
16     3681  23.709203,120.431337
17     1061   22.797245,121.07137
18     2854  23.451843,120.255462
19        1  24.929602,121.205396
20      210   23.903687,121.07937
21     2329  23.987159,121.601571
22      141  24.348779,118.328564
23        9   24.99341,121.296967
24        2   24.432065,118.31551
25       12   24.759115,121.75374
26       45  22.655844,120.470326
27        5   24.996218,121.48531
28        1  37.813628,144.963058
29        5  25.171981,121.443371
30        4  22.396428,114.109497
31       23  23.583333,119.583333
32       17   24.57115,120.815436
33        7  22.615802,120.712002
34        7   23.69781,120.960515
35        1  22.639762,120.302107
36        1  25.079651,121.234217
37        1  22.198745,113.543873
38       11  22.761321,121.143815
39        1  23.080732,120.285885
40        1   23.98907,120.566222
41        1  22.885385,120.550936
42        2   23.17634,120.239734
43        1  21.948331,120.779752
44        2  23.707795,120.540909
45        1    41.80022,123.44134
46       14  26.160243,119.951665
47        1    22.30995,114.22688
48        3  24.834687,120.993368
49        1  24.998072,121.429928
50       48  24.071658,120.562447
51        1  22.629159,120.292045
52        1  23.776934,120.539423
53        1  23.905867,120.780968
54        3  25.061453,121.486711

運用folium 在地圖上顯示各地區人數熱擴散圖

In [ ]:
from folium.plugins import HeatMap
import numpy as np
fmap = folium.Map(location=[23.58,120.59], zoom_start=7)
data=[]
for ele in LatLng:
    temp=[]
    eleSplit=ele.split(",")
    temp.append(float(eleSplit[0]))
    temp.append(float(eleSplit[1]))
    temp.append(persons[LatLng.index(ele)])
    data.append(temp)
fmap.add_child(HeatMap(data=data,gradient={.2: 'blue', .5: 'green', 1: 'red'}, min_opacity=0.1,max_val=0.7))

### 後記
    由圖可以看出，紅點集中在北部地區，可以提供給老闆開實體店面的資訊，比較有趣的一點，南投、台東、花蓮的會員比預期的還多，可能的原因是因為那些地方交通不方便，比較常使用網購。然後資料太不統一了，花了很久時間探索資料，建議可以用表單下拉選擇居住地的方式